.main-content-flex{
    display: flex;
    flex-wrap: wrap;
    width: 700px;
   
}

.story-flex{
    display: flex;
    align-items: center;
    overflow-x: auto;
    gap: 3px;
    width: 590px;
    align-items: center;
    justify-content: center;
}

.story-details-container::-webkit-scrollbar{
    display: none;
}



.story-details-container{
    display: flex;
    gap: 15px;
    padding: 40px;
    overflow-x: auto;



} 

.story-items{
    border: 2px solid rgb(230, 13, 13);
    border-radius: 100%;
    width: 50px;
    height: 50px;
    display: block;
    
    
    
}
.profile-name{
    color: black;
    font-size: 10px;
    

    

}
p{
    display: inline;
    text-overflow: ellipsis;
}



img{
    border-radius: 100%;
    width: 50px;
    height: 50px;
} 
/* 
*/
/* .story-details-container{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    gap: 3px;
    padding: 10px;
    flex-wrap: wrap;
} */

/* .story-items{
    border: 2px solid rgb(230, 13, 13);
    border-radius: 100%;
    width: 50px;
    height: 50px;
    
    
    
} */
/* 
.story-items{
    border: 2px solid rgb(230, 13, 13);
    border-radius: 100%;
    width: 50px;
    height: 50px;
    
    
    
}

img{
    border-radius: 100%;
    width: 50px;
    height: 50px;
}




 */
