.top-nav{
    display: flex;
    border: 2px solid red;
    align-items: flex-start;
    gap: 10px;

}
button{
    border-radius: 5px;
    width: 200px;
    height: 50px;
    border-style: none;
    font-weight: bold;

}

button:hover{
    background-color: crimson;
    color: white;
}
