.App {
  text-align: center;
  display: flex;
  width:  100%;
  border: 2px solid black;
  flex-wrap: wrap;
  box-sizing: border-box;
  
}
.login-form{
  border-right: 1px solid rgb(211, 206, 206);
  flex: 1;
  padding: 12px;
  padding-top: 50px;
}

.side-nav-flex{
  border-right: 1px solid rgb(211, 206, 206);
  flex: 0.155;
  padding: 12px;
  padding-top: 50px;

  


}

.main-content-container-flex{
  flex: 0.5;
  padding: 12px;
  
}

.right-column-flex{
  border: 1px solid black;
  flex: 0.345;
  padding: 20px;
}

